body{
    font-family: sans-serif;
    background-color: rgb(16, 8, 69);
}
header{
    background-color:rgb(13, 13, 152);
    padding: 5;
}
.logo{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}
nav{
    margin-top:23px 5px ;
    padding:  23px;
    background-color: black;
    text-align: center;
}
nav a{
    text-decoration: none;
    margin-right:  50px;
    color: aliceblue;
}
.main_img{
    width: 100%;
    height: 40%;
}
h1{
    font-size: 40px;
    color: aliceblue;
    font-weight: normal;
    padding-bottom: 10px;
    text-align: center;
}
p{
    color:white;
}
.contacts{
    text-decoration: none;
    background-color: azure;
    padding: 10px;
    border-radius: 5px;
    color:darkblue;
}
